{% extends "../layout.njk" %}

{% block head %}

    <title>Chefs - Foodfy</title>
    <link rel="stylesheet" href="/styles/admin/chefs.css">

{% endblock head %}

{% block content %}

    <main class="container">
    
        <h1>Gerenciar chefs</h1>

        <section id="chefs">

            {% for chef in chefs %}
            
                <div class="cards" id="{{chef.id}}">
                    <span class="avatar">
                        <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
                    </span>
                    <span class="info">
                        <p class="name">{{chef.name}}</p>
                        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                    </span>
                </div>

            {% endfor %}
        </section>
    </main>

{% endblock content %}
