{% extends "layout.njk" %}

{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/viewRecipe.css">
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
<main>
    <section id="recipes">
    {% for recipe in recipes %}
        <div class="cards" id="{{recipe.id}}">
            <img src="{{recipe.img_source}}" alt="{{recipe.food_name}}">
            <h5 class="food-name">{{recipe.food_name}}</h5>
            <p class="cook">{{recipe.chef}}</p>
        </div>
    {% endfor %}
    </section>
        

    <div class="modal-overlay">
        <div class="rectangle">
            <img  class="overlay-image" src="">
            <h5 class="dish"></h5>
            <p class="chef"></p>
            <p class="close-modal"><a>Fechar</a></p>
        </div>

    </div>
</main>

<footer><p>Todos os direitos reservados, Receitas Foodfy.</p></footer>

<script src="recipeModal.js"></script>

{% endblock %}