{% extends "../layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/show.css">
    
    <title>Receitas - Foodfy</title>
{% endblock %}


{% block content %}

    <main class="container">
        <div id="title-container">
            <p id="title">Receita: {{recipe.food_name}}</p>
            <a href="/admin/recipes/{{recipe.id}}/edit">
                <button id="edit-recipe">Editar receita</button>
            </a>
        </div>
        <section id="highlight">
            <img class="food-image" src="{{recipe.img_source}}" alt="{{recipe.food_name}}">
            <h1 class="food-name">{{recipe.food_name}}</h1>
            <p class="cook">{{recipe.chef}}</p>
        </section>

        <section id="instructions"> 
            <div>
                <h2>Ingredientes <a id="show-ingredient" class="show-link">Mostrar</a></h2>
                <p class="hide-show" id="ingredient">{{recipe.ingredients}}</p>
            </div>
            <div>
                <h2>Modo de preparo <a id="show-preparation" class="show-link">Mostrar</a></h2>
                <p class="hide-show" id="preparation">{{recipe.preparation}}</p>
            </div>
            <div>
                <h2>Informações adicionais <a id="show-info" class="show-link">Mostrar</a></h2>
                <p class="hide-show" id="info">{{ recipe.information }}</p>
            </div>
        </section>
    
    </main>

<script src="/scripts/showRecipe.js"></script>
{% endblock %}